.inner {
	text-align: center;
}

div.center {
	/*display: inline-block;*/
}

body {
	background: #ffffff;
	font-family: 'Helvetica Neue';
	font-size: 16px;
	color: #989898;

}

a {
	text-decoration: none;
	color: #88BBD6;
}

a.current {
	color: #88BBD6;
	font-weight: bold;
}

a:hover {
	text-decoration: none;
	color: #99d3df;
	transition: all 200ms linear;
}

header h1 a {
	color: #989898;
}

header h1 a:hover {
	color: #99d3df;
}

nav {
	font-size: 16px;
}

.container {
	max-width: 650px;
	margin: 25px auto;
}

section {
	padding: 25px 0px;
	/*border-bottom: solid;
	border-bottom-color: rgba(128, 128, 128, 0.18);*/
}

.main {
	width: 90%;
	float: left;
}

.sidebar {
	width: 10%;
	float: right;
	text-align: right;
}

header {
	border-bottom: solid;
	border-bottom-color: rgba(128, 128, 128, 0.18);
	padding-bottom: 25px;
}

#headshot {
	float:left;
	width: 35%;
	margin: 0 20px 4px 10px;
}

ul.icons {
	cursor: default;
	list-style: none;
	padding-left: 0;
}

ul.icons li {
	display: block;
	padding: 1.25em 1.25em 0 0;
	color: #88BBD6;
}

ul.icons li:hover{
	color: #99d3df;
	transition: all 300ms linear;
}

/*ul.icons li:last-child {
	padding-right: 0;
}*/

ul.icons li .icon {
	color: inherit;
}

ul.icons li .icon:before {
	font-size: 1.75em;
}


img.research-thumbnail {
	margin-top: 10px;
}

a.icon.fa.fa-facebook {
    padding-right:7px;
}
